[package]
name = "handlebars_misc_helpers"
version = "0.8.0"
authors = ["David Bernard"]
edition = "2018"
description = "A collection of helpers for handlebars (rust) to manage string, json, yaml, toml, path, file, http request."
readme = "README.md"
license = "CC0-1.0"
keywords = ["handlebars"]
#see https://crates.io/category_slugs
categories = ["template-engine", "value-formatting"]
repository = "https://github.com/davidB/handlebars_misc_helpers"
homepage = "https://github.com/davidB/handlebars_misc_helpers"
exclude = ["/.github", "/.dependabot", "/docs/**", "/scripts", ".gitignore", "/tests/**"]

[dependencies]
handlebars = "^3.0.1"
snafu = "^0.6"
log = "^0.4"
attohttpc = { version = "^0.11", optional = true }
Inflector = { version = "^0.11", optional = true }
# jmespath = { version = "^0.2", optional = true }
lazy_static = {version="^1.4", optional = true }
serde = { version = "^1", features = ["rc"], optional = true }
serde_json = { version = "^1", optional = true }
serde-transcode = { version = "^1", optional = true }
serde_yaml = { version = "^0.8", optional = true }
toml = { version = "^0.5", optional = true }
enquote = { version = "^1.0", optional = true }

[dev-dependencies]
spectral = "0.6.0"
indoc = "0.3"
tempfile = "3.1.0"

[features]
default = [ "string", "http", "json" ]
string = [ "Inflector", "enquote" ]
http = [ "attohttpc" ]
json = [ "lazy_static", "serde", "serde_json", "serde-transcode", "serde_yaml", "toml" ]
